<div>
  <label>Select Measure:</label>
  <select (change)="onSelectMeasure($event)">
  	<option *ngFor="let id of measureIds" [value]="id">{{ id }}</option>
	</select>
</div>

<div *ngIf="analysis && analysis.dominantFreq >= 10 && analysis.dominantFreq <= 20" style="margin-top: 10px;">
  <strong>Fréquence dominante :</strong> {{ analysis.dominantFreq.toFixed(1) }} Hz<br>
  <strong>Amplitude :</strong> {{ analysis.dominantAmp }}
</div>

<div *ngIf="plotData.length">
  <plotly-plot
  		[data]="plotData"
  		[layout]="plotLayout"
  		[style]="{ width: '100%', height: '500px' }">
	</plotly-plot>
</div>
